.paper-content {
  padding: 2rem;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-container-col {
  flex-direction: column;
}

.flex-container-item {
  flex: 1;
  margin: 0.5rem;
}

.flex-container-item-main {
  flex: 2;
}

.flex-container-self-bottom {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  align-self: flex-start;
}

.entry-container {
  margin-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.date {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.info {
  padding: 0;
  margin: 0.5rem 0 0 0;
  font-weight: 700;
}

.info-content {
  font-weight: 400;
}

.photo-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-preview {
  width: auto;
  height: 6rem;
  margin-right: 2rem;
}

.update-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
